<div class="logo-details">
    <i class='bx bxs-bank'></i>
    <span class="logo_name">bank of dreams</span>
</div>
  <ul class="nav-links">
    <li routerLink="transactions" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a class="">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Transactions</span>
      </a>
    </li>
    <li routerLink="resume" routerLinkActive="active-link">
      <a >
        <i class='bx bx-box' ></i>
        <span class="links_name"> resume</span>
      </a>
    </li>
    <li routerLink="new-product"  routerLinkActive="active-link">
      <a>
        <i class='bx bx-list-ul' ></i>
        <span class="links_name">New product</span>
      </a>
    </li>
    
    
    <li class="log_out">
      <a>
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
